<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <include resource="logging/logback-base.xml"/>

    <logger name="com.challenge.llc">
        <level value="INFO"/>
    </logger>

    <logger name="com.challenge.llc">
        <level value="DEBUG"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

<!--    <logger name="org.hibernate.SQL" level="debug" additivity="false">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

<!--    <logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->
</configuration>
